* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
:focus {
  outline: none;
}


.welcome__bg {
  object-fit: cover;
  max-width: 100%;
}
.welcome__title {
  position: relative;
  margin-bottom: 20px;
}
.menu-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: transparent;
}
.icon {
  width: 25px;
  height: 25px;
  color: #e65081;
  cursor: pointer;
}
.welcome__text {
  display: block;
  object-fit: cover;
  max-width: 60%;
  margin: auto;
  margin-bottom: 35px;
}
.menu {
  background: #e65081;
}
.menu__nav {
  padding: 50px 0;
}
.menu__item {
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 40px;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu__icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.menu__link {
  text-decoration: none;
  color: #fff;
}

.product__buttons,
.buttons {
  background: #e65081;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}
.product__button,
.button {
  margin: 10px 0;
  padding: 5px 25px;
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 5px;
}
.product__button:hover {
  background: #eb6a95;
  opacity: 0.99;
}
.product__button-label {
  font-style: 24px;
  line-height: 24px;
}
.product__button-count {
  font-size: 12px;
}
.product__footer {
  object-fit: contain;
  max-width: 100%;
}

.slider {
  margin-top: -20px;
  overflow: hidden;
}

.slider__item,
.about__item {
  position: relative;
  max-width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #999999, -3px 3px 5px #999999;
  color: #191a1c;
  background: #ffffff;
}
.slider__title {
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}
.slider__name {
  text-align: center;
}
.slider__img {
  object-fit: contain;
  max-width: 100%;
  margin-top: 20px;
}
.slider__dots {
  margin-top: 10px;
}
.slider__price {
  position: absolute;
  top: 85px;
  right: 10px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #a5c64f;
  padding: 7px;
  border-radius: 3px;
}
.slider__count {
  display: flex;
  justify-content: space-between;
  max-width: 27%;
  margin: auto;
  margin-top: 30px;
}
.count-body {
  border: none;
  background: transparent;
  color: #e65081;
  font-weight: bold;
  margin-bottom: 30px;
}
.count-pre,
.count-after {
  cursor: pointer;
  color: #fff;
  background: #e65081;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.count-pre {
  padding-bottom: 10px;
}
.togo-btn {
  border: none;
  background: transparent;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}
.arrow-btn {
  border-radius: 50%;
  max-width: 35px;
  max-height: 35px;
}
.slider__button {
  position: absolute;
  bottom: 17px;
  right: 20px;
}
.slider__cart {
  width: 35px;
  height: 35px;
}

.head {
  background: #e65081;
  padding-bottom: 80px;
}
.about__head {
  margin-top: -10px;
}
.logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.logo-img {
  width: 40px;
  height: 40px;
}
.company-title,
.company-name {
  color: #fff;
  text-align: center;
}
.about__name {
  padding-bottom: 70px;
}
.about__item {
  margin-top: -40px;
  max-width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #999999, -3px 3px 5px #999999;
  color: #191a1c;
  background: #ffffff;
}
.about__text {
  font-size: 12px;
  padding: 0 30px;
  line-height: 20px;
}
.about__img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 10px 0;
}
.about__subtitle {
  padding: 30px 30px;
  padding-top: 70px;
  max-width: 100%;
  background: #a5c64f;
  margin-top: -60px;
}
.about__footer-bg {
  margin-top: -10px;
  max-width: 100%;
}

.info {
  border-bottom: 10px solid #e65081;
}
.info__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 77%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #eb6a95, -3px 3px 3px #eb6a95;
}
.info__button {
  flex-basis: 40%;
  font-weight: bold;
  height: 50px;
}
.info__button:hover {
  background: #eb6a95;
  opacity: 0.99;
}
.info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #999999, -5px 5px 3px #999999;
  padding: 60px 20px 30px;
  margin-top: -40px;
}
.info__post-img {
  flex-basis: 40%;
  object-fit: contain;
  margin: 0 10px;
  width: 60px;
  height: 60px;
}
.info__pay {
  font-size: 12px;
  padding-left: 50px;
  line-height: 16px;
}
.info__pay-item {
  color: #eb6a95;
}
.info__pay-text {
  color: #191a1c;
}
.info__payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 30px 40px 20px;
}
.liqpay {
  max-height: 15px;
}
.info__payment-img {
  object-fit: contain;
  flex-basis: 30%;
  width: 20px;
  height: 30px;
}

.contact {
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.contact__inner,
.status__inner {
  max-width: 75%;
  margin: auto;
  padding-bottom: 20px;
}
.contact__icons,
.status__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.contact__icon,
.status__icon {
  width: 25px;
  height: 25px;
}
.contact__phone {
  margin-top: 40px;
}
.contact__address {
  margin-top: 5px;
}
.contact__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}
.contact__agreement-text {
  text-decoration: none;
  color: #eb6a95;
}
.contact__agreement-icon {
  max-width: 15px;
  max-height: 15px;
  margin-right: 10px;
}
.contact__link {
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #999999;
  margin-top: 30px;
}

.basket {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #a5c64f;
  padding: 15px 30px;
}
.basket__box {
  flex-basis: 45%;
  color: #fff;
}
.basket__text {
  display: inline-block;
  font-size: 12px;
}
.basket__description {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.head {
  padding: 0;
}
.bg-img {
  max-width: 100%;
}
.company-name {
  max-width: 60%;
  margin: auto;
}

.hidden {
  display: none;
}
