.order__head {
  background: #a5c64f;
  padding-bottom: 10px;
}
.order__menu {
  background: #a5c64f;
  min-height: 200px;
}
.order__nav {
  padding-top: 40px;
  padding-bottom: 10px;
}
.order__bg-img {
  max-width: 100%;
}
.order__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
.order__item-pre {
  flex-basis: 30%;
}
.order__item-after {
  flex-basis: 55%;
  color: #999999;
}
.order__img {
  max-width: 100px;
  max-height: 80px;
  object-fit: fill;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 5px #a5c64f;
  margin-bottom: 5px;
}
.order__item-price {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}
.order__item-name {
  max-width: 80%;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.order__count-body {
  margin-left: 10px;
  margin-right: 10px;
}
.order__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a5c64f;
  padding: 15px 0;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.order__total-price {
  margin-left: 40px;
}
.order__total-count {
  margin-right: 100px;
}
.order__form {
  font-size: 12px;
  color: #999999;
  width: 85%;
  margin: auto;
  margin-top: 30px;
}
.order__input {
  font-size: 12px;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
.order__form-title {
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 50px;
}
.order__radio-box {
  margin-bottom: 10px;
}
.order__radio {
  vertical-align: middle;
  margin-right: 5px;
}
.order__post {
  margin-left: 21px;
}
.order__post-input {
  padding-left: 0;
}
.order__ukrpost {
  display: none;
}
.order__btn, .fee__btn, .status__btn {
  margin-left: 87%;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #a5c64f;
}