.slick-track {
  display: flex;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px 0 20px;
}
.slick-dots li {
  margin: 0 10px;
  list-style: none;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background-color: #999;
}
